:root {
    --highlight: light-dark(#ffffff, #000000);
    --primary-docs: #6f51f4;
    --secondary-docs: #8476c1;
    --bg: light-dark(#000000, #ffffff);
  }
  
  .documentation {
    color: var(--highlight);
    background-color: var(--bg);
    --text-normal: var(--highlight);
    --text-muted: var(--highlight);
    --text-faint: var(--highlight);
    --checklist-done-color: var(--highlight);
    --metadata-label-text-color: var(--highlight);
    --metadata-input-text-color: var(--highlight);
    --tag-color: var(--bg);
    --tag-background: var(--primary-docs);
    --tag-color-hover: var(--highlight);
    --tag-background-hover: var(--secondary-docs);
    --hr-color: var(--primary-docs);
    --blockquote-border-color: var(--primary-docs);
    --interactive-accent: var(--primary-docs);
    --collapse-icon-color-collapsed: var(--primary-docs);
    --checkbox-color: var(--primary-docs);
    --checkbox-marker-color: var(--bg);
    --checkbox-color-hover: var(--highlight);
    --checkbox-border-color: var(--highlight);
    --list-marker-color: var(--primary-docs);
    --code-background: var(--bg);
    --code-normal: var(--primary-docs);

    --h1-color: var(--primary-docs);
    --h2-color: var(--primary-docs);
    --h3-color: var(--primary-docs);
    --h4-color: var(--primary-docs);
    --h5-color: var(--primary-docs);
    --h6-color: var(--primary-docs);

    --background-modifier-border-focus: var(--primary-docs);
    --background-modifier-border: color-mix(in srgb, var(--highlight) 60%, transparent);
    --background-modifier-hover: color-mix(in srgb, var(--highlight) 60%, transparent);
    --pill-cover-hover: color-mix(in srgb, var(--highlight) 60%, transparent);
  }

  .documentation :is(i) {
    color: var(--secondary-docs);
  }

  .documentation :is(b) {
    color: var(--secondary-docs);
  }

  .documentation :is(h1, .HyperMD-header.HyperMD-header-1) {
    color: var(--primary-docs);
    text-align: center;
    font-size: 60px;
    font-family: "Bai Jamjuree", "JetBrainsMono Nerd Font Mono", "JetBrains Mono";
    padding: 0 !important;
  }
