@mixin base ($primary, $secondary, $highlight: light-dark(#000000, #ffffff)) {
  color-scheme: light dark;
  $bg: light-dark(#ffffff, #000000);
  $font-family: "JetBrainsMono Nerd Font Mono", "JetBrains Mono";

  color: $highlight;
  background-color: $bg;
  $text-normal: $highlight;
  $text-muted: $highlight;
  $text-faint: $highlight;
  $checklist-done-color: $highlight;
  $metadata-label-text-color: $highlight;
  $metadata-input-text-color: $highlight;
  $tag-color: $bg;
  $tag-background: $secondary;
  $tag-color-hover: $highlight;
  $tag-background-hover: $secondary;
  $hr-color: $secondary;
  $blockquote-border-color: $primary;
  $interactive-accent: $primary;
  $collapse-icon-color-collapsed: $primary;
  $checkbox-color: $primary;
  $checkbox-marker-color: $bg;
  $checkbox-color-hover: $highlight;
  $checkbox-border-color: $highlight;
  $list-marker-color: $primary;
  $code-background: $bg;
  $code-normal: $primary;

  $background-modifier-border-focus: $primary;
  $background-modifier-border: color-mix(in srgb, $highlight) 60%, transparent;
  $background-modifier-hover: color-mix(in srgb, $highlight) 60%, transparent;
  $pill-cover-hover: color-mix(in srgb, $highlight) 60%, transparent;

  i, b { color: $secondary }
  a:link, .cm-hmd-internal-link, .cm-hmd-external-link { color: $primary }
  a:hover, .cm-hmd-internal-link:hover, .cm-hmd-external-link:hover { color: $secondary }

  h1, .HyperMD-header.HyperMD-header-1 {
    color: $primary;
    text-align: center;
    font-size: 60px;
    font-family: $font-family;
    padding: 0 !important;
  }

  h2, .HyperMD-header.HyperMD-header-2 {
    color: $primary;
    text-align: center;
    font-size: 32px;
    font-family: $font-family;
    padding-top: 0;
  }

  h4, .HyperMD-header.HyperMD-header-4 {
    background-color: $primary;
    color: $background;
    font-family: $font-family;
    font-weight: 900;
    margin-bottom: 0;
    padding-top: 0;
    font-size: 20px;
    width: fit-content;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 8px;
    word-wrap: normal;
  }
}
