:root {
    color-scheme: light dark;
    --highlight: light-dark(#000000, #ffffff);
    --primary-diary: #f6466f;
    --secondary-diary: #f39caa;
    --bg: light-dark(#ffffff, #000000);
  }
  
.diarynote {
  color: var(--highlight);
  background-color: var(--bg);
  --text-normal: var(--highlight);
  --text-muted: var(--highlight);
  --text-faint: var(--highlight);
  --checklist-done-color: var(--highlight);
  --metadata-label-text-color: var(--highlight);
  --metadata-input-text-color: var(--highlight);
  --tag-color: var(--bg);
  --tag-background: var(--primary-diary);
  --tag-color-hover: var(--highlight);
  --tag-background-hover: var(--secondary-diary);
  --hr-color: var(--primary-diary);
  --blockquote-border-color: var(--primary-diary);
  --interactive-accent: var(--primary-diary);
  --collapse-icon-color-collapsed: var(--primary-diary);
  --checkbox-color: var(--primary-diary);
  --checkbox-marker-color: var(--bg);
  --checkbox-color-hover: var(--highlight);
  --checkbox-border-color: var(--highlight);
  --list-marker-color: var(--primary-diary);
  --code-background: var(--bg);
  --code-normal: var(--primary-diary);

  --h1-color: var(--primary-diary);
  --h2-color: var(--primary-diary);
  --h3-color: var(--primary-diary);
  --h4-color: var(--primary-diary);
  --h5-color: var(--primary-diary);
  --h6-color: var(--primary-diary);

  --background-modifier-border-focus: var(--primary-diary);
  --background-modifier-border: color-mix(in srgb, var(--highlight) 60%, transparent);
  --background-modifier-hover: color-mix(in srgb, var(--highlight) 60%, transparent);
  --pill-cover-hover: color-mix(in srgb, var(--highlight) 60%, transparent);
}

.diarynote :is(i) {
  color: var(--secondary-diary);
}

.diarynote :is(b) {
  color: var(--primary-diary);
}


.diarynote :is(h1, .HyperMD-header.HyperMD-header-1) {
  color: var(--primary-diary);
  text-align: center;
  font-size: 60px;
  font-family: "Bai Jamjuree", "JetBrainsMono Nerd Font Mono", "JetBrains Mono";
  padding: 0 !important;
}
